/*Use of important to overwrite bootstrap styles*/
.fleet-list {
  height: 900px;
  margin-top: 10px;
  overflow: auto;
}

.list-group-item {
  color: white !important;
  background-color: #3E68B0 !important;
  border-radius: 4px;
  transition: .75s;
}

.list-item {
  margin-bottom: 5px;
  height: 40px;
  font-size: 20px;
  padding-top: 7px;

}

.list-item form {
  height: 40px;
  line-height: .25;
}

.list-group-item:hover {
  background-color: #EFEFEF !important;
  color: #3E68B0 !important;
}

.truck-id {
  width: 50%;
  margin-right: 0 !important;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  line-height: 1;
  padding-top: 3px
}

.edit {
  margin-right: 5px;
  transition: .75s;
}

.delete {
  transition: .75s;
}

.delete:hover, .edit:hover {
  transform: scale(1.25);
}
