body {
  background-image: url('../images/grey_wash_wall.png');
  color: black;
  background-position: center;
}

button {
  transition: .75s;
}

.container {
  background-color: rgba(239, 239, 239, 0.2);
}

.header {
  text-align: center;
}

.alert {
  width: 60%;
  margin: 10px auto;
}