body {
  background-image: url('../images/grey_wash_wall.png');
  color: black;
  background-position: center;
}

.container {
  background-color: rgba(239, 239, 239, 0.2);
}

.header {
  text-align: center;
}