.navbar {
  background-color: #EFEFEF;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar a {
  color: #3B69AC;
}

// Overwrite bootstrap
.navbar a:hover {
  background-color: #3B69AC !important; 
  color: white;
}

.nav-img {
  margin-right: 20px;
}

/*Overwrite bootstrap*/
.rounded {
  border-radius: 4px !important;
}

#search {
  border-color: #3B69AC;
}

.btn-connect {
  color: white;
  background-color: #3B69AC;
  border-color: #3B69AC;
}
